/*

20/04/2015 | J. Henrotte
_background.scss
Variables for the the Sagaframework

*/


body{
	background-color: $background-color;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}