/*

20/04/2015 | J. Henrotte
_fonts.scss
Fonts for the projet Sagaframework

*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,400italic,300italic,600,600italic);

$base-family           :      'Source Sans Pro', sans-serif;
$base-family-light     :      300;
$base-family-regular   :      400;
$base-family-bold	   :      700;

$title-family          :      'Source Sans Pro', sans-serif;
$title-family-regular  :      400;
$title-family-bold     :      700;